$fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$fontFamily-serif: 'Merriweather', 'Georgia', Cambria, 'Times New Roman', Times, serif;
$font-body: var($fontFamily-serif);
$font-heading: var($fontFamily-serif);
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;
$fontWeight-extrabold: 800;
$fontWeight-black: 900;
$fontSize-root: 16px;
$lineHeight-none: 1;
$lineHeight-tight: 1.1;
$lineHeight-normal: 1.5;
$lineHeight-relaxed: 1.625;
/* 1.200 Minor Third Type Scale */
$fontSize-0: 0.833rem;
$fontSize-1: 1rem;
$fontSize-2: 1.2rem;
$fontSize-3: 1.44rem;
$fontSize-4: 1.728rem;
$fontSize-5: 2.074rem;
$fontSize-6: 2.488rem;
$fontSize-7: 2.986rem;
