$minHeight-none: 'none';
$minHeight-xs: 20rem;
$minHeight-sm: 24rem;
$minHeight-md: 28rem;
$minHeight-lg: 32rem;
$minHeight-xl: 36rem;
$minHeight-2xl: 42rem;
$minHeight-3xl: 48rem;
$minHeight-4xl: 56rem;
$minHeight-full: '100%';
$minHeight-wrapper: $minHeight-2xl;
